# Ambientes e testes
ambiente/
writing-a-c-compiler-tests/

# Executável do compilador (sem extensão)
compilador/telemachus

# Arquivos intermediários do Haskell
*.hi
*.o

# Arquivos intermediários do GCC
*.i
*.s

# Ou se quiser ser mais específico para a pasta compilador:
compilador/*.hi
compilador/*.o
compilador/telemachus

# Arquivos de teste na raiz
simple_program.i
simple_program.s
simple_program
